<header class="splash-screen-container">
  <div class="overlay">
    <div class="splash-image">
      <%= image_tag 'wallet.png', class: 'splash-illustration' %>
    </div>
    <div class="intro-text">
       <h1> Helping you make smart decisions </h1>
       <p> Every Decision you make, big or small, impact your life. </p>
    </div>
  <nav class='nav'>
    <ul>
      <li class='login'>
        <%= link_to "Login", new_user_session_path %>
      </li>
      <li class='signup'>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
    </ul>
  </nav>
  </div>
</header>

