<header class="splash-screen-container">
  <div class='logo'>
    <h1>Budget Now</h1>
  </div>
  <nav class='nav'>
    <ul>
      <li class='login'>
        <%= link_to "LOG IN", new_user_session_path %>
      </li>
      <li class='signup'>
        <%= link_to "SIGN UP", new_user_registration_path %>
      </li>
    </ul>
  </nav>
</header>

