/* global styling  */

/*
 *= require font-awesome
 */

/*
 *= require ionicons
 */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
  font-family: proximaThin, sans-serif;
}

body {
  width: 100%;
  background-color: #283f54;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.user-input-container {
  width: 100%;
  position: relative;
}

.avatar_field {
  display: none;
}

.input-container {
  background-color: #bf88f8;
  padding: 0 10px;
  margin: 30px 15px;
  border-radius: 20px;
  color: black;
  box-shadow: 7px -7px 5px #3d5f7e;
  font-weight: bolder;
  font-size: 1.2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.links li,
.links li a {
  display: flex;
}

.links li a i {
  color: black;
  font-size: 1.2rem;
  font-weight: 300;
}

.form-section {
  background-color: #304c64;
  width: 100%;
  min-height: 100vh;
  margin-top: 50px;
  border-radius: 50px 50px 0 0;
  padding: 10px 0;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.field {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.form input {
  padding: 20px 10px;
  border: 1px solid #bf88f8;
  width: 100%;
  background: none;
  outline: none;
  border-radius: 15px;
  font-size: 1.1rem;
  color: white;
}

::placeholder {
  color: #c3c4c6;
  font-size: 1.1rem;
}

.forgot-password {
  text-align: center;
  display: block;
  color: #c3c4c6;
  margin-top: 10px;
}

.submit {
  border: none;
  outline: none;
  color: black;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

#submit-btn {
  padding: 18px 10px;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 30px;
  border-radius: 50px;
}
