.category-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.category-btn {
  padding: 15px 0;
  text-align: center;
  font-weight: bolder;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: #d6a907;
  width: 100%;
  color: white;
  cursor: pointer;
}

.actions {
  width: 100%;
}

.categories_controllers {
  background-color: #f1f3f2;
  width: 100%;
  min-height: 100vh;
}

.category-lists-wrapper {
  width: 90%;
  margin: auto;
}

.category-lists-wrapper li {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.details {
  background-color: white;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 2px 2px 10px 2px grey;
}

.desc {
  display: flex;
  gap: 10px;
}

.desc img {
  width: 40px;
  height: 40px;
}

.desc p {
  color: #a8a5a5;
  font-weight: bold;
  padding-bottom: 10px;
}

.desc small {
  color: #b2b2b2;
  font-weight: bold;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-transaction {
  font-weight: bolder;
  border: none;
  outline: none;
  color: #3778c2;
  cursor: pointer;
  background: none;
}

.strong {
  font-weight: 900;
  color: black;
}

.transaction small {
  color: #b2b2b2;
  padding: 10px 0;
}

strong {
  color: black;
}

hr {
  background-color: #fefefe71;
  margin: 10px 0;
}

.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #514f4f;
  font-weight: 900;
  margin-bottom: 50px;
}

#business_category_id {
  width: 100%;
  padding: 15px;
}