<section class='categories_controllers'>
     <header class="input-container">
      <nav>
        <ul class='links'>
          <li>
            <i class="fa fa-bars"></i>
          <li>
          <li>
            TRANSACTIONS
          <li>
          <li>
            <i class="fa fa-search"></i>
          </li>
        </ul>
      </nav>
  </header>
  <%
=begin%>
 <section>
       
     <% if @foods.exists? %>
     
      <ul>
          <% @foods.each do |food| %>
          <li>
             <img src="" alt="icon">
             <div>
             <p></p>
             <small></small>
             <div>
             <strong></strong>
          </li>
      </ul>
 
   <% else %>
          <p>No Food Added yet</p> 
      <% end %>
  <div>
  <%= button_to "Add Category", model %>>
  </section> 
<%
=end%>
</section>